<div class="devise-form-box">
  <div class="row">
    <% if params[:user][:applicant] == "true" %>
    <h2 class="devise-h2">Welcome applicant to Bridge.</h2>
    <h3 class="devise-h3">Come on and create an account</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs edit-form-text">
          <%= f.input :applicant, as: :hidden, input_html: {value: true} %>
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "name"}%>
          <div class="linear-border"></div>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "email" }%>
          <div class="linear-border"></div>
          <%= f.input :password,
                      required: true,
                      # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: "edit-form-style  password-form", autocomplete: "new-password" } %>
          <div class="linear-border"></div>
          <%= f.input :linkedin,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "LinkedIn URL"} %>
          <div class="linear-border"></div>
          <%= f.input :motivation,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "About Me / Short Bio"} %>
          <div class="linear-border"></div>
          <%= f.input :reasons_for_funding,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "Reasons for Funding"} %>
          <div class="linear-border"></div>
          <%= f.input :photo,
                      require: true,
                      autofocus: true,
                      label: "Please upload a profile picture." %>
          <%= f.label "Are you 18 or older?" %>
          <%= f.check_box :agecheck,
                      as: :boolean,
                      as: :check_boxes,
                      required: true,
                      autofocus: true %><br/>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary button-edit-page' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>

    <% elsif params[:user][:applicant] == "false" %>
    <h2 class="devise-h2">Welcome investor to Bridge.</h2>
    <h3 class="devise-h3">Come on and create an account</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs edit-form-text">
          <%= f.input :lender, as: :hidden, input_html: {value: true} %>
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "name"}%>
          <div class="linear-border"></div>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "email" }%>
          <div class="linear-border"></div>
          <%= f.input :password,
                      required: true,
                      # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: "edit-form-style password-form", autocomplete: "new-password" } %>
          <div class="linear-border"></div>
          <%= f.input :linkedin,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "LinkedIn URL"} %>
          <div class="linear-border"></div>
          <%= f.input :job,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "Job Title"} %>
          <div class="linear-border"></div>
          <%= f.input :industry,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "Industry"} %>
          <div class="linear-border"></div>
          <%= f.input :motivation,
                      require: true,
                      autofocus: true,
                      input_html: { class: "edit-form-style", autocomplete: "About me / Short Bio"} %>
          <div class="linear-border"></div>
          <%= f.input :photo,
                      require: true,
                      autofocus: true,
                      label: "Please upload a profile picture." %>
          <%= f.label "Are you 18 or older?" %>
          <%= f.check_box :agecheck,
                      as: :boolean,
                      as: :check_boxes,
                      required: true,
                      autofocus: true %><br/>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary button-edit-page'  %>
        </div>
      <% end %>
      <div class="devise-footer-flex">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
