<%= simple_form_for(@applicant, url: update_applicant_path, method: :patch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "Why do you deserve funding?" %>
    <%= f.input :reasons_for_funding,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Reasons funding is deserved" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit information" %>
  </div>
<% end %>
