<%= simple_form_for(@lender, url: update_lender_path, method: :patch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "What is your job title?" %>
    <%= f.input :job,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Job Title" }%>
    <%= f.label "What industry do you work in?" %>
    <%= f.input :industry,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Industry" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit information" %>
  </div>
<% end %>
