<%= link_to fundraising_event_path(loan.fundraising_event_id) do %>
  <div class="card lender-card-hover">
    <div class="avatar-lender">
      <% if loan.user.photo? %>
        <% photo_url =  loan.user.photo_url(:bright_face) %>
      <% else %>
        <% photo_url = "https://via.placeholder.com/150" %>
      <% end %>
      <%= image_tag photo_url, class: "avatar-medium" %>
    </div>
    <div class="card-content-main">
      <h1 class="debtor-name">Creditor | <%= loan.user.name.titleize %></h1>
      <h2 class="course-detail">Loan for Tuition at <%= loan.fundraising_event.course.titleize %></h2>
      <div class="counter">
        <div class="counter-lender">
          <h4 class="lender-counters">Loan amount:</h4>
          <h4 class="orange-counter">£<%= loan.amount %></h4>
          <h4 class="lender-counters">Loan length (months):</h4>
          <h4 class="orange-counter"><%= loan.loan_length %></h4>
          <h4 class="lender-counters">Interest rate:</h4>
          <h4 class="green-counter">5% p.a.</h4>
        </div>
      </div>
    </div>
    <div class="width-loan margin-width-loan">
      <% if current_user.lender %>
        <h2 class="loan-os"><%= humanized_money_with_symbol(loan.amount_owed) %></h2>
      <% elsif current_user.applicant %>
        <h2 class="loan-os"><%= humanized_money_with_symbol(loan.amount_owed_to_lender) %></h2>
      <% end %>
      <h2 class="outstanding">outstanding</h2>
    </div>
  </div>
<% end %>
