<div class="card" style="background-image: linear-gradient(-100deg, rgba(200,200,200,0.2) 0%, rgba(100,100,100,0.5) 50%), url('https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4791/s300/logo-big.png');">
  <div class="applicant-avatar">
    <button type="button" data-toggle="modal" data-target="#applicantModal">
      <img src="<%= fundraising_event.user.photo %>" class="applicant-image">
    </button>
  </div>
  <%= link_to fundraising_event_path(fundraising_event) do %>
    <div class="card-category">
      <h3>User: <%= fundraising_event.user.name %></h3>
    </div>
    <div class="card-description">
      <h3>Amount: £<%=fundraising_event.price_cents %></h3>
    </div>
    <div class="card-condition">
      <p>Course name: <%= fundraising_event.course %></p>
    <div>
  <% end %>
</div>
<% if current_user.lender? %>
  <%= render 'shared/applicant_modal', fundraising_event: fundraising_event %>
<% end %>

