<%= link_to fundraising_event_path(fundraising_event) do %>
  <div class="card lender-card-hover">
    <div class="avatar-lender">
      <% if fundraising_event.user.photo? %>
        <% photo_url =  fundraising_event.user.photo_url(:bright_face) %>
      <% else %>
        <% photo_url = "https://via.placeholder.com/150" %>
      <% end %>
      <%= image_tag photo_url, class: "avatar-medium", data: { target: "#applicantModal", toggle: "modal"} %>
    </div>
    <div class="card-content-main">
      <h1 class="debtor-name"><%= fundraising_event.user.name.capitalize %>'s loan application</h1>
      <h2 class="course-detail"><%= fundraising_event.course.capitalize %></h2>
      <div class="counter">
        <div class="counter-lender">
          <h4 class="lender-counters">
          </h4>
        </div>
      </div>
    </div>
    <div class="width-loan margin-width-loan">
      <h2 class="loan-os">£<%= fundraising_event.price %></h2>
      <h2 class="outstanding">desired</h2>
    </div>
    <% if current_user.lender? %>
      <%= render 'shared/applicant_modal', fundraising_event: fundraising_event %>
    <% end %>
  </div>
<% end %>
