<%= link_to fundraising_event_path(fundraising_event) do %>
  <div class="card" style="background-image: linear-gradient(-100deg, rgba(200,200,200,0.2) 0%, rgba(100,100,100,0.5) 50%), url('<%= cl_image_path device.photo, height: 200, width: 300, crop: :fill if device.photo.present? %>');">
    <div class="card-category"><%= fundraising_event.user_id %></div>
    <div class="card-description"><%= truncate(fundraising_event.amount, length: 60)%></div>
    <div class="card-condition">Course name: <%= fundraising_event.course %>
  </div>
<% end %>
