<div class="card">
  <!-- input link to repayment page -->
    <div class="profile">
      <div class="avatar-lender">
      <% if repayment.fundraising_event.user.photo? %>
        <% photo_url =  repayment.fundraising_event.user.photo_url(:bright_face) %>
      <% else %>
        <% photo_url = "https://via.placeholder.com/150" %>
      <% end %>
      <%= image_tag photo_url, class: "avatar-small" %>
      </div>
      <div class="width-lender-card">
        <h1 class="debtor-name">Repayment Card | <%= repayment.fundraising_event.user.name.capitalize %></h1>
        <h2 class="course-detail"><%= link_to "Repay Tuition at #{repayment.fundraising_event.course.capitalize}", new_fundraising_event_loan_repayment_path(repayment.fundraising_event_id, repayment.id) %></h2>
        <div class="counter-lender">
          <h4 class="lender-counters">Loan amount:</h4>
          <h4 class="orange-counter">£<%= repayment.amount %></h4>
          <h4 class="lender-counters">Loan Length:</h4>
          <h4 class="lender-counters"><%= repayment.loan_length %></h4>
          <h4 class="lender-counters">Interest rate:</h4>
          <h4 class="green-counter">4% p.a.</h4>
        </div>
      </div>
      <div class="width-loan width-repayment-padding">
        <h2 class="loan-os"><%= humanized_money_with_symbol(repayment.amount_owed) %></h2>
        <h2 class="outstanding">outstanding</h2>
      </div>
    </div>
</div>
