<% if current_user.applicant? %>
  <div class="container dashboard">
  <div class="profile">
    <div class="avatar">
      <% if current_user.photo? %>
        <% photo_url =  current_user.photo_url(:bright_face) %>
      <% else %>
        <% photo_url = "https://via.placeholder.com/150" %>
      <% end %>
      <%= image_tag photo_url, class: "avatar-large" %>
      <br>
      <%= link_to 'edit profile', edit_user_registration_path, method: :edit, class: "text-center" %>
    </div>
    <div class="width">
      <h2 class="username"> <%= current_user.name %></h2>
      <p class="email"><%= current_user.email %></p>
        <div class="stats">
          <p>1 loan maturing</p>
          <p>5 loan applications</p>
          <p>5 people invested in you</p>
        </div>
      <p class="email">Motivation: <%= current_user.motivation %></p>
    </div>
    </div>

    <div class="tabs">
      <p class="tab-selected">Pending loan applications</p>
      <p class="tab">Maturing loans</p>
      <p class="tab-selected">Pending loan offers</p>
      <p class="tab">Maturing loans</p>
      <p class="tab-selected"><%= link_to 'Create a Loan', new_fundraising_event_path, class: "btn btn-danger dashboard-btn" %></p>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <h3>My application(s) for funding</h3>
        <% @fundraising_events.each do |f| %>
        <% if f.user == current_user %>
          <div class="col-xs-12">
            <%= render "shared/applicant_card", fundraising_event: f %>
          </div>
        <% end %>
       <% end %>
      </div>
    </div>
  </div>
<% elsif current_user.lender? %>
  <h1>Lender Dashboard</h1>
  <div class="dashboard-btns">
    <%= link_to 'View Loan Oppurtunities', fundraising_events_path, class: "btn btn-danger dashboard-btn" %>
  </div>
  <%= link_to 'View outstanding loans', fundraising_events_path, class: "btn btn-danger dashboard-btn" %>
<% end %>


















