<div class="container" id=homepage-center>
  <div class="banner-content">
    <h1 id="title">bridge.</h1>
    <div class="homepage">
      <div class="applicant">
        <h3 class="homepage-h3">Applicant</h3>
        <button type="button" class="btn btn-danger btn-homepage">
          <%= link_to_if(((user_signed_in? == true) && (current_user.applicant? == true)), name = 'Applicant Dashboard', dashboard_path ) do %>
            <%= link_to "Sign Up", new_user_registration_path(:applicant => { :applicant => true }) %>
          <% end %>
        </button>
      </div>
      <div class="lender">
        <h3 class="homepage-h3">Lender</h3>
        <button type="button" class="btn btn-danger btn-homepage">
          <%= link_to_if(((user_signed_in? == true) && (current_user.lender? == true)), name = 'Lender Dashboard', dashboard_path ) do %>
            <%= link_to "Sign Up", new_user_registration_path(:lender => { :lender => true }) %>
          <% end %>
        </button>
      </div>
    </div>
    <h2 id=homepage-tagline>Connecting coding bootcamp applicants to a lending community.</h2>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign in", new_user_session_path  %>
<% end %>
