<div class="container" id=homepage-center>
  <div class="banner-content">
    <h1 id="title">bridge.</h1>
    <div class="homepage">
      <div class="applicant">
        <h3 class="homepage-h3">Applicant</h3>
        <% if user_signed_in? && current_user.applicant? %>
          <button type="button" class="btn btn-danger btn-homepage">
            <%= link_to 'Applicant Dashboard', dashboard_path %>
          </button>
        <% elsif user_signed_in? && current_user.lender? %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#homepageModal">Sign Up</button>
        <% else %>
          <button type="button" class="btn btn-danger btn-homepage">
            <%= link_to "Sign Up", applicant_path %>
          </button>
        <% end %>
      </div>
      <div class="lender">
        <h3 class="homepage-h3">Lender</h3>
        <% if user_signed_in? && current_user.lender? %>
          <button type="button" class="btn btn-danger btn-homepage">
            <%= link_to 'Lender Dashboard', dashboard_path %>
          </button>
        <% elsif user_signed_in? && current_user.applicant? %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#homepageModal">Sign Up</button>
        <% else %>
          <button type="button" class="btn btn-danger btn-homepage">
            <%= link_to "Sign Up", lender_path %>
          </button>
        <% end %>
      </div>
    </div>
    <h2 id=homepage-tagline>Connecting coding bootcamp applicants to a lending community.</h2>
  </div>
</div>


<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign in", new_user_session_path  %>
<% end %>

<%= render 'shared/homepage_modal', user: current_user %>


