<div style="background-color: #CAD9E3; padding: 40px 0">
<div class="devise-form-box">
  <div class="row">
    <h2 class="devise-h2">Complete your loan application</h2>
    <%= simple_form_for @fundraising_event do |f| %>

        <div class="form-inputs edit-form-text">

          <%= f.input :price,
                      label: "How much do you want to borrow?",
                      input_html: { class: "edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :course,
                      label: "What bootcamp are you enrolled on?",
                      collection: ["Le Wagon", "Flatiron School", "Makers Academy", "General Assembly"],
                      input_html: { class: "edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :date_from,
                      as: :string,
                      label: "Start date of bootcamp? Your loan will be paid directly to your course on this date.",
                      input_html: { class: "datepicker edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :date_until,
                      as: :string,
                      label: "When does the course finish?",
                      input_html: { class: "datepicker edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :guarantor,
                      label: "Name and email address of guarantor",
                      input_html: { class: "edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :loan_length,
                      label: "Over what duration will you pay back the loan (in months)?",
                      priority: [6],
                      collection: [6, 12, 18, 24],
                      input_html: { class: "edit-form-style" }%>
          <div class="linear-border"></div>
          <%= f.input :career_goals,
                      label: "Please give a summary of your career aspirations following completion of your chosen course (the more detail you are able to provide prospective lenders, the higher chance of securing a loan)",
                      input_html: { class: "edit-form-style" }%>
          <div class="linear-border"></div>



          <%= f.input :photo, label: "Please upload your cv" %>

          <%= f.input :status, as: :hidden, default: 'pending' %>
        </div>

          <button type="button" class="btn btn-primary button-edit-page" data-toggle="modal" data-target="#exampleModal">Submit</button>
    <% end %>
  </div>
</div>
</div>

<%= render 'shared/modal' %>
