<!-- show specific fundraising event page dynamically -->
<% content_for :meta_title, "#{@fundraising_event.user.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @fundraising_event.course %>
<div class="banner", style="background-color: #DAE9F2">
  <%= image_tag "", class: "loan-svg" %>
  <div class="container container-text-align">
    <div class="loan-card">
      <div style="padding-bottom: 10px;width: 100%; border-radius: 15px 15px 0px 0px;">
        <div class="row">
          <div class="col-xs-3">
            <% if @fundraising_event.user.photo? %>
             <% photo_url = @fundraising_event.user.photo_url(:bright_face) %>
            <% else %>
              <% photo_url = "https://via.placeholder.com/150" %>
            <% end %>
            <%= image_tag photo_url, class: "avatar-large padding-avatar" %>
          </div>
          <div class="col-xs-9">
            <h1 style="margin-top: 0px !important;" class="loan-tagline"><%= @fundraising_event.user.name.capitalize %>'s loan for <%=@fundraising_event.course.titleize %></h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <div class="show-content">
              <p class="black-text-lg">Total Loan Amount | <%= humanized_money_with_symbol(@fundraising_event.price) %></p>
              <p class="black-text">Guarantor | <%= @fundraising_event.guarantor.capitalize %></p>
              <p class="black-text">Loan Length | <%= @fundraising_event.loan_length%> months</p>
              <p class="black-text">Click here to view applicant's <%= link_to "CV", fundraising_event_cv_path(@fundraising_event) %></p>
            </div>
          </div>
          <div style="position: relative;" class="col-xs-6">
            <div class="progress-bars-div">
              <div class="bars-div">
                <div id="myRaisedProgress" class="bars-margin" style="width: 500px; margin: 50px auto; height: 200px;">
                  <div id="myRaisedBar" style="width: 0; background-image: linear-gradient(to right, #AACEE5, #355F79);height: 200px;">
                    <p style="text-align: left; margin-left: 12.5px;"class="lower-title paid-shadow">Raised: £<%= @fundraising_event.amount_raised.to_i %> / £<%= @fundraising_event.price_cents / 100 %></p>
                  </div>
                </div>
              </div>
              <div class="bars-div">
                <div id="myRepaidProgress" class="bars-margin bars-align-with-card" style="width: 500px; margin: 50px auto; height: 200px;">
                  <div id="myRepaidBar" style="width: 0; background-image: linear-gradient(to right, #8BD360, #6BB142); height: 200px;">
                    <% if current_user.lender? %>
                      <p style="text-align: left;margin-left: 12.5px;" class="lower-title paid-shadow">Repaid: £<%= @total_loan_repaid_for_user.to_i %> / £<%= @total_loan_for_user.to_i %></p>
                    <% elsif current_user.applicant? %>
                      <p style="text-align: left;margin-left: 12.5px;" class="lower-title paid-shadow">Repaid: £<%= @fundraising_event.amount_repaid.to_i %> / £<%= @fundraising_event.amount_due.to_i %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width:100%;display:flex;justify-content: center;">
        <div class="fulfill-loan-button">
          <% if current_user.lender? %>
            <%= form_tag "/fundraising_events/#{@fundraising_event.id}/loans", class: 'black-text' do %>
              <%= hidden_field_tag 'fundraising_event_id', @fundraising_event.id %>
              <%= number_field_tag 'amount', class: 'input-box' %>
              <%= submit_tag 'Fulfill this loan', class: 'btn btn-primary btn-homepage' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to "Back to my dashboard", dashboard_path, class: "btn btn-primary button-loan-dashboard"%>
    </div>
  </div>
</div>



<script>
  function move() {
    console.log(<%= @raised.to_i %>)
    var elem = document.getElementById("myRaisedBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      while(width < <%= @raised.to_i %>) {
        width++;
        elem.style.width = width + '%';
        }
        if (width > <%= @raised.to_i %> ) {
          clearInterval(id);
        }
      }
    }
  move();

  function moveAgain() {
    console.log(<%= @repaid.to_i %>)
    var elem = document.getElementById("myRepaidBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      while(width < <%= @repaid.to_i %>) {
        width++;
        elem.style.width = width + '%';
        }
        if (width > <%= @repaid.to_i %> ) {
          clearInterval(id);
        }
      }
    }
  moveAgain();

</script>
