<!-- show specific fundraising event page dynamically -->
<h1><%=@fundraising_event.user.name %>'s request for a loan for <%=@fundraising_event.course%>: <%= humanized_money_with_symbol(@fundraising_event.price_cents)%></h1>
      <ul>
        <li><h3>Name: <%= @fundraising_event.user.name %></h3></li>
        <li><h3>Amount: <%= humanized_money_with_symbol(@fundraising_event.price_cents) %></h3></li>
        <li><h3>Course name:<%= @fundraising_event.course %></h3></li>
        <li><h3>Financial guarantor: <%= @fundraising_event.guarantor %></li>
        <li><h3>Loan length:<%= @fundraising_event.loan_length%></h3></li>
        <li><h3>Career goals: <%= @fundraising_event.career_goals%></li></h3>
        <li>Course from: <%= @fundraising_event.date_from %> to <%= @fundraising_event.date_until%></li>
        <li>Click here to view CV ___</li>
      </ul>
    </div>
<%= link_to 'Back to dashboard', dashboard_path, class: "btn btn-primary" %>

<% if current_user.lender == true %>
<%= form_tag "/fundraising_events/#{@fundraising_event.id}/loans" do %>
  <%= hidden_field_tag 'fundraising_event_id', @fundraising_event.id %>
  <%= submit_tag 'Fulfill this loan', class: 'btn btn-danger' %>
<% end %>
<% end %>


