<!-- show specific fundraising event page dynamically -->
<h1><%=@fundraising_event.user_id%>'s loan for <%=@fundraising_event.course%>, £<%=@fundraising_event.amount%></h1>
      <ul>
        <li><h3>Name: <%= @fundraising_event.user_id %></h3></li>
        <li><h3>Amount: £<%= @fundraising_event.amount %></h3></li>
        <li><h3>Course name:<%= @fundraising_event.course %></h3></li>
        <li><h3>Financial guarantor: <%= @fundraising_event.guarantor %></li>
        <li><h3>Loan length:<%= @fundraising_event.loan_length%></h3></li>
        <li><h3>Career goals: <%= @fundraising_event.career_goals%></li></h3>
        <li>Course from: <%= @fundraising_event.date_from %> to <%= @fundraising_event.date_until%></li>
        <li>Click here to view CV ___</li>
      </ul>
    </div>

<%= link_to 'Back to dashboard', dashboard_path, class: "btn btn-secondary" %>




